body {
    font-size: 12px;
    text-align: center;
}

h3 {
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    color: #5fa137;
    font-family: 'Montserrat';
}

a:link,
a:visited {
    background-color: #6b7bf4;
    color: white;
    border: 1px solid #9aa5f8;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: #3445ca;
    color: white;
}